#nature {
  margin-top: 80px;
  margin-bottom: 36px;
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .nature_text {
    padding: 71px 0 94px 0;
    background-image: url(../Imags/tyler-lastovich-AVzByhROPbs-unsplash\ 2.png);
    text-align: center;
    background-size: cover;
    .nature_icon {
      background: transparent;
      img {
        width: 41px;
        height: 49px;
        margin: 0 auto;
      }
    }
    h2 {
      padding: 0 70px;
      color: $color-4;
      font-size: 21.33px;
      font-weight: 600;
      line-height: 31px;
      margin-bottom: 13px;
    }
    p {
      display: none;
    }
    button {
      border-radius: 67px;
      border: 1px solid $bg-color-2;
      color: $color-4;
      font-size: 16.33px;
      font-weight: 600;
      line-height: 24px;
      padding: 16px 56px;
      background: transparent;
    }
  }
  .nature_border {
    width: 85%;
    margin: 0 auto;
    border-radius: 12px;
    background-color: $bg-color-2;
    padding: 71px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-top: -70px;
    .nature_box {
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 18px;
      }
      p {
        color: $color-3;
        text-align: center;
        font-size: 21.33px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 49px;
      }
    }
  }
}
@media screen and (min-width: 880px) {
  #nature {
    margin-top: 80px;
    margin-bottom: 87px;
    .container {
      max-width: 90%;
    }
    .nature_text {
      padding: 110px 0 94px 0;
      background-image: url(../Imags/tyler-lastovich-AVzByhROPbs-unsplash\ 1.png);
      border-radius: 12px;
      background-size: cover;
      .nature_icon {
        img {
          width: 92.116px;
          height: 82.057px;
          margin: 0;
          margin-bottom: 40px;
        }
      }
      h2 {
        font-size: 37px;
        line-height: 36px;
        margin-bottom: 12px;
      }
      p {
        display: inline-block;
        color: $color-4;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 130px;
        margin-bottom: 28px;
      }
      button {
        font-size: 21.33px;
        font-weight: 600;
      }
    }
    .nature_border {
      width: 85%;
      margin: 0 auto;
      border-radius: 12px;
      background-color: $bg-color-2;
      padding: 71px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 49px;
      margin-top: -70px;
      .quti {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 49px;
      }
      .nature_box {
        img {
          width: 60px;
          height: 60px;
          margin-bottom: 18px;
        }
        p {
          color: $color-3;
          text-align: center;
          font-size: 21.33px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  #nature {
    margin-top: 80px;
    margin-bottom: 118px;
    .container {
      max-width: 1300px;
    }
    .nature_text {
      padding: 110px 0 94px 0;
      background-image: url(../Imags/tyler-lastovich-AVzByhROPbs-unsplash\ 1.png);
      border-radius: 12px;
      background-size: cover;
      .nature_icon {
        img {
          width: 92.116px;
          height: 82.057px;
          margin: 0;
          margin-bottom: 40px;
        }
      }
      h2 {
        font-size: 37px;
        line-height: 36px;
        margin-bottom: 12px;
      }
      p {
        display: inline-block;
        color: $color-4;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 130px;
        margin-bottom: 28px;
      }
      button {
        font-size: 21.33px;
        font-weight: 600;
      }
    }
    .nature_border {
      width: 85%;
      margin: 0 auto;
      border-radius: 12px;
      background-color: $bg-color-2;
      padding: 71px 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 49px;
      margin-top: -70px;
      .quti {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 49px;
      }
      .nature_box {
        img {
          width: 60px;
          height: 60px;
          margin-bottom: 18px;
        }
        p {
          color: $color-3;
          text-align: center;
          font-size: 21.33px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}
